
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Eflyer</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
    
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
      <!-- style css -->
      
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <!-- Responsive-->
    
      <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
      <!-- fevicon -->
      
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif">
      <!-- Scrollbar Custom CSS -->
      
      <link rel="stylesheet" href="{{ url_for('static', filename='jquery.mCustomScrollbar.min.css') }}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='owl.carousel.min.css') }}">
      <link rel="stylesoeet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
     <!-- banner bg main start -->
     <div class="banner_bg_main">
        <!-- header top section start -->
        <div class="container">
           <div class="header_section_top">
              <div class="row">
                 <div class="col-sm-12">
                    <div class="custom_menu">
                       <ul>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Gift Ideas</a></li>
                          <li><a href="#">New Releases</a></li>
                          <li><a href="#">Today's Deals</a></li>
                          <li><a href="#">Customer Service</a></li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- header top section start -->
        <!-- logo section start -->
        <div class="logo_section">
           <div class="container">
              <div class="row">
                 <div class="col-sm-12">
                    <div class="logo"><a href="index.html"><img src="{{ url_for('static', filename='images/logo.png') }}"></a></div>
                 </div>
              </div>
           </div>
        </div>
        <!-- logo section end -->
     <!-- header section start -->
     <div class="header_section">
        <div class="container">
           <div class="containt_main">
              <div id="mySidenav" class="sidenav">
                 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                 <a href="/">Home</a>
                 <a href="/products">Products</a>
                 {% if session.get('user_id') %}
                 <a href="/logout">Logou</a>
                 {% else %}
                 <a href="/login">Login</a>
                 <a href="/register">Register</a>
                 <a href="{{ url_for('admin_login') }}">Admin Login</a>
                 <a href="{{ url_for('admin_register') }}">Admin Register</a>
                 {% endif %}


              </div>
             
              <span class="toggle_icon" onclick="openNav()"><img src="{{ url_for('static', filename='images/toggle-icon.png') }}"></span>
              
              <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category 
                 </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                 </div>
              </div>
              <div class="main">
                 <!-- Another variation with a button -->
                 <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search this blog">
                    <div class="input-group-append">
                       <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                       <i class="fa fa-search"></i>
                       </button>
                    </div>
                 </div>
              </div>
              <div class="header_box">
                
                 <div class="login_menu">
                    <ul>
                       <li><a href="#">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          <span class="padding_10">Cart</span></a>
                       </li>
                       <li><a href="#">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <span class="padding_10">Cart</span></a>
                       </li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- header section end -->
     <!-- banner section start -->
     <div class="banner_section layout_padding">
        <div class="container">
           <div id="my_slider" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                 <div class="carousel-item active">
                    <div class="row">
                       <div class="col-sm-12">
                          <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                          <div class="buynow_bt"><a href="#">Buy Now</a></div>
                       </div>
                    </div>
                 </div>
                 <div class="carousel-item">
                    <div class="row">
                       <div class="col-sm-12">
                          <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                          <div class="buynow_bt"><a href="#">Buy Now</a></div>
                       </div>
                    </div>
                 </div>
                 <div class="carousel-item">
                    <div class="row">
                       <div class="col-sm-12">
                          <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                          <div class="buynow_bt"><a href="#">Buy Now</a></div>
                       </div>
                    </div>
                 </div>
              </div>
              <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
              <i class="fa fa-angle-left"></i>
              </a>
              <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
              <i class="fa fa-angle-right"></i>
              </a>
           </div>
        </div>
     </div>
     <!-- banner section end -->
     <div class="fashion_section">
      <div id="main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
               <div class="container">
                  
               <h1 class="fashion_taital">

                  <br>
                           <h2>Welcome to Product Rental Service</h2>
                           <p>We offer a wide range of products for rent and purchase, categorized for various events and age groups.</p>
                           <p>To start, please browse our <b><a href="/products">Products</a> </b>or log in to your account.</p>
                     
                     {% if session.get('user_id') %}
                           
                              <h2>Your Account</h2>
                              <p>Welcome back! You can view and manage your rentals <a href="/rentals">here</a>.</p>
                           
                     {% elif session.get('admin_id') %}
                           
                              <h2>Admin Dashboard</h2>
                              <p>Welcome Admin! Manage products and orders <b><a href="{{ url_for('admin_dashboard') }}"></b>here</a>.</p>
                        
                     {% else %}
                           
                              <h2>Get Started</h2>
                              <p>If you're new here, you can <a href="/register">Register</a> for a new account. Already have an account? <a href="/login">Log in</a>.</p>
                           
                     {% endif %}
                  
                  </h1>
   </div>
</div>
</div>
</div>
</div>
    <footer>
        <p>&copy; 2024 Product Rental Service</p>
    </footer>

 <!-- Javascript files-->
 <!--<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
     
   
 <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

 <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
 
 <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
 
 <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
 <!-- sidebar -->

 <!--<script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
 
 <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
 <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
 }-->
      
 </script>
</body>
</html>
